.tooltip {
  position: relative;
  width: 100%;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 100%;
  background-color: white;
  border: #000 2px solid;
  color: #000;
  text-align: center;
  padding: 5px 0;
  border-radius: 8px;
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.round-left {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-right: 2px solid black;
  border: 2px solid black;
}

.round-right {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border: 2px solid black;
}
